html, body {
    margin: 0;
    padding: 0;
}
.filter-block {
    position: relative;
    &__title {
        font: 700 40px/56px 'SangBleu Kingdom', 'Roboto', sans-serif;
        color: #3D3C3C;
        margin-bottom: 50px;
    }
    &__context {
        position: relative;
    }
    &-form {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        &__fields {
            position: relative;
            padding: 8px;
            background: #F6F6F6;
            border-radius: 8px 0 0 8px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            .field {
                position: relative;
                margin: 0 8px 0 0;
                &:last-child {
                    margin: 0;
                }
                &.date .date {
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    width: 23px;
                    height: 22px;
                    content: '';
                    background: url('/images/date.png') 50% 50% no-repeat;
                    margin-top: -11px;
                    cursor: pointer;
                }
                &.select {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 5px;
                        right: 14px;
                        top: 50%;
                        margin-top: -2.5px;
                        background: url('/images/select_arrow.png') 50% 50% no-repeat;
                    }
                    &.subtract {
                        &:after {
                            width: 20px;
                            height: 22px;
                            margin-top: -11px;
                            background: url('/images/subtract.png') 50% 50% no-repeat;
                        }
                    }
                }
            }
            .typedate {
                padding: 20px 46px 20px 16px;
                border: 1px solid #E3E3E3;
                font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
                color: #333333;
                &::placeholder {
                    font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
                    color: #333333;
                }
                &:focus::placeholder {
                    color: transparent;
                }
            }
            .typeselect {
                padding: 20px 46px 20px 16px;
                border: 1px solid #E3E3E3;
                font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
                appearance: none;
                color: #333333;
                &::placeholder {
                    font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
                    color: #333333;
                }
                &:focus::placeholder {
                    color: transparent;
                }
            }
        }
        &__submit {
            height: 100%;
            border: none;
            box-shadow: none;
            border-radius: 0 8px 8px 0;
            text-align: center;
            font: 300 24px/1 'Euclid Circular B', 'Roboto', sans-serif;
            background: #3D3C3C;
            color: #fff;
            padding: 29px 34px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                background: #BCA56A;
            }
        }
    }
}
@media all and (max-width: 320px) {
    .filter-block {
        &-form {
            padding: 8px 8px 16px;
            background: #F6F6F6;
            border-radius: 8px;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            &__fields {
                padding: 0;
                border-radius: 0;
                flex-direction: column;
                .field {
                    margin: 0 0 8px;
                    width: 100%;
                    &.select.subtract::after {
                        height: 100%;
                        top: 0;
                        background-color: #fff;
                        width: 62px;
                        margin: 0;
                        right: 0;
                    }
                    &.select.subtract::before {
                        content: '';
                        right: 62px;
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        width: 16px;
                        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                        position: absolute;
                    }
                }
                .typeselect, .typedate {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            &__submit {
                margin-top: 17px;
                width: 100%;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 20px;
            }
        }
    }
}