<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">

<body>
    <div class="filter-block">
        <div class="filter-block__title">
            Выберите свой отдых
        </div>
        <div class="folter-block__context">
            <form class="filter-block-form">
                <div class="filter-block-form__fields">
                    <div class="field select">
                        <select class="typeselect">
                            <option name="" id="">Для одного</option>
                            <option name="" id="">Семейный</option>
                        </select>
                    </div>
                    <div class="field date">
                        <input type="input" class="typedate" placeholder="пт, 8 мая — вс, 17 мая">
                        <span class="date"></span>
                    </div>
                    <div class="field select subtract">
                        <select class="typeselect">
                            <option name="" id="">1 взрослый • без детей • 1 номер</option>
                            <option name="" id="">2 взрослых • без детей • 1 номер</option>
                            <option name="" id="">3 взрослых • без детей • 1 номер</option>
                        </select>
                    </div>
                </div>
                <input class="filter-block-form__submit" type="submit" value="Найти">
            </form>
        </div>
    </div>
</body>

</html>