html, body {
  margin: 0;
  padding: 0;
}

.filter-block {
  position: relative;
}

.filter-block__title {
  font: 700 40px/56px 'SangBleu Kingdom', 'Roboto', sans-serif;
  color: #3D3C3C;
  margin-bottom: 50px;
}

.filter-block__context {
  position: relative;
}

.filter-block-form {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter-block-form__fields {
  position: relative;
  padding: 8px;
  background: #F6F6F6;
  border-radius: 8px 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter-block-form__fields .field {
  position: relative;
  margin: 0 8px 0 0;
}

.filter-block-form__fields .field:last-child {
  margin: 0;
}

.filter-block-form__fields .field.date .date {
  position: absolute;
  right: 13px;
  top: 50%;
  width: 23px;
  height: 22px;
  content: '';
  background: url("/images/date.png") 50% 50% no-repeat;
  margin-top: -11px;
  cursor: pointer;
}

.filter-block-form__fields .field.select:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  right: 14px;
  top: 50%;
  margin-top: -2.5px;
  background: url("/images/select_arrow.png") 50% 50% no-repeat;
}

.filter-block-form__fields .field.select.subtract:after {
  width: 20px;
  height: 22px;
  margin-top: -11px;
  background: url("/images/subtract.png") 50% 50% no-repeat;
}

.filter-block-form__fields .typedate {
  padding: 20px 46px 20px 16px;
  border: 1px solid #E3E3E3;
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typedate::-webkit-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typedate:-ms-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typedate::-ms-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typedate::placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typedate:focus::-webkit-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typedate:focus:-ms-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typedate:focus::-ms-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typedate:focus::placeholder {
  color: transparent;
}

.filter-block-form__fields .typeselect {
  padding: 20px 46px 20px 16px;
  border: 1px solid #E3E3E3;
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #333333;
}

.filter-block-form__fields .typeselect::-webkit-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typeselect:-ms-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typeselect::-ms-input-placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typeselect::placeholder {
  font: 300 16px/24px 'Font Euclid Circular B', 'Roboto', sans-serif;
  color: #333333;
}

.filter-block-form__fields .typeselect:focus::-webkit-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typeselect:focus:-ms-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typeselect:focus::-ms-input-placeholder {
  color: transparent;
}

.filter-block-form__fields .typeselect:focus::placeholder {
  color: transparent;
}

.filter-block-form__submit {
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 8px 8px 0;
  text-align: center;
  font: 300 24px/1 'Euclid Circular B', 'Roboto', sans-serif;
  background: #3D3C3C;
  color: #fff;
  padding: 29px 34px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.filter-block-form__submit:hover {
  background: #BCA56A;
}

@media all and (max-width: 320px) {
  .filter-block-form {
    padding: 8px 8px 16px;
    background: #F6F6F6;
    border-radius: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter-block-form__fields {
    padding: 0;
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-block-form__fields .field {
    margin: 0 0 8px;
    width: 100%;
  }
  .filter-block-form__fields .field.select.subtract::after {
    height: 100%;
    top: 0;
    background-color: #fff;
    width: 62px;
    margin: 0;
    right: 0;
  }
  .filter-block-form__fields .field.select.subtract::before {
    content: '';
    right: 62px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 16px;
    background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
  }
  .filter-block-form__fields .typeselect, .filter-block-form__fields .typedate {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter-block-form__submit {
    margin-top: 17px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
  }
}
/*# sourceMappingURL=index.css.map */